:root {
  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --color-primary: #FF9900;
  --color-primary-disabled: #ffb84d;
  --color-primary-darker: #e66e00;
  --color-error: #dc3545;
  --color-error-darker: #c82333;
  --color-error-lighter: #f8d7da;
  --color-success: #28a745;
  --color-success-darker: #218838;
  --color-success-lighter: #d4edda;
  --color-help: #17a2b8;
  --color-help-darker: #138496;
  --color-help-lighter: #d1ecf1;
  --color-warning: #ffc107;
  --color-warning-darker: #e0a800;
  --color-warning-lighter: #fff3cd;

  --background-color: #ececec;
  --surface-color: #ffffff;
  --text-color-primary: #212529;
  --text-color-secondary: #6c757d;
  --border-color: #dee2e6;


  --box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

html.dark-theme {
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color-primary: #eaeaea;
  --text-color-secondary: #a0a0a0;
  --border-color: #444444;
}
