:root {
  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --primary-color: #FF9900;
  --primary-color-darker: #e66e00;

  --background-color: #c3c3c3;
  --surface-color: #ffffff;
  --text-color-primary: #212529;
  --text-color-secondary: #6c757d;
  --border-color: #dee2e6;
}

html.dark-theme {
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color-primary: #eaeaea;
  --text-color-secondary: #a0a0a0;
  --border-color: #444444;
}

html {
  font-size: 16px;
  transition: color 0.2s, background-color 0.2s;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1120px;
  }

  h1 {
    font-size: 3rem;
  }
}
